@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    @apply leading-normal;
  }
  body {
    @apply bg-white dark:bg-gray-800;
    @apply text-gray-800 dark:text-gray-100 dark:text-opacity-80;
    @apply transition-colors;
    @apply break-words;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mt-8 mb-6;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  p {
    @apply leading-normal mb-8 p-0 tracking-wide;
  }
  ul,
  ol {
    @apply mx-0 p-0 mb-8 leading-normal;
    list-style-position: outside;
    list-style-image: none;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul li,
  ol li {
    @apply pl-0 mb-2;
  }

  li > p {
    @apply mb-2;
  }

  li *:last-child {
    @apply mb-0;
  }

  li > ul,
  li > ol {
    @apply ml-4 mt-2;
  }

  blockquote {
    color: var(--color-text-light);
    @apply ml-6 mr-8 pl-6 border-l-2 border-solid text-lg mb-8;
    font-style: italic;
  }

  blockquote > :last-child {
    @apply mb-0;
  }

  blockquote > ul,
  blockquote > ol {
    list-style-position: inside;
  }
  a {
    @apply font-semibold hover:text-primary focus:text-primary;
  }
}
