/* CSS Custom Properties Definitions */
@import url("rc-switch/assets/index.css");
.rc-switch {
  background-color: #000;
  border-color: #666;
}
.rc-switch-inner {
  top: 2px;
}

:root {
  --primary-color: theme("colors.yellow.300");
  --primary-dark-color: theme("colors.yellow.400");
  --anchors-width: 299px;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom classes */

.global-wrapper {
  @apply py-10 px-5;
  @apply mx-auto;
  @apply max-w-3xl;
}

.blog-post a {
  @apply mx-1;
}

.icon {
  display: inline-block;
  user-select: none;
  overflow: visible;
}
/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    @apply pl-2 m-0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

.anchors ul {
  @apply list-none;
}
.anchors ul * {
  @apply my-0;
}
.anchors ul p,
.anchors ul a {
  @apply break-normal truncate;
  @apply text-xs;
}
.anchors ul p {
  @apply my-2;
}
