@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html {
    font-size: 14px;
    @apply leading-normal;
    @apply font-sans;
  }
  body {
    @apply break-words  transition-colors;
  }
  ul,
  ol {
    @apply mx-0 mb-8 p-0 leading-normal;
    list-style-position: outside;
    list-style-image: none;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul li,
  ol li {
    @apply mb-4 pl-0;
  }

  li > p {
    @apply mb-4;
  }

  li *:last-child {
    @apply mb-0;
  }

  li > ul,
  li > ol {
    @apply ml-4 mt-2;
  }

  blockquote {
    @apply m-6 border-l-4 border-zinc-200 pl-6 italic;
  }

  blockquote > :last-child {
    @apply mb-0;
  }

  blockquote > ul,
  blockquote > ol {
    list-style-position: inside;
  }
  a {
    @apply no-underline hover:no-underline hover:text-primary;
  }
}

@layer utilities {
  .transition-shadow {
    transition-property: 'box-shadow';
    transition-timing-function: 'ease';
    transition-duration: 250ms;
  }
}
