@import url('//unpkg.com/heti/umd/heti.min.css');

:root {
  --primary-color: theme('colors.yellow.300');
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code:hover {
  opacity: 1;
}

/* Custom classes */

.global-wrapper {
  @apply py-10 px-5;
  @apply mx-auto;
  @apply max-w-3xl;
}

.blog-post a {
  @apply mx-1;
}

.i-icon {
  vertical-align: middle;
}
